@import '../variables';
@import '../../node_modules/react-tabs/style/react-tabs.scss';

.MessageList {
  width: 100%;

  table {
    width: 50vw;

    &.head {
      background: #fff;
      position: fixed;
      top: $headerHeight;

      thead tr {
        height: $tableHeaderHeight;

        th {
          vertical-align: bottom;
        }
      }
    }

    &.body {
      margin-top: $tableHeaderHeight + 0.2rem;
    }

    tbody tr {
      cursor: default;
    }

    th, td {
      padding: 0.3rem 0.5rem;
    }

    th {
      text-align: left;
      border-bottom: 1px solid #000;
    }

    .col-time {
      min-width: 3.9rem;
    }

    .col-method {
      min-width: 3.6rem;
    }

    .col-uri {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 400px;
    }

    .col-status {
      text-align: right;
      min-width: 3.2rem;
    }

    tr.active {
      background-color: #7bf;
    }
  }
}

.MessageDetails {
  pre.raw {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 10rem;
    overflow: scroll;
    background-color: #f2f2f2;
    margin: 1em 0 0 0;
  }

  .properties {
    overflow-x: scroll;
    padding-left: 1.1rem;
    font-size: 0.9rem;

    .property {
      white-space: nowrap;
      margin: 0.2rem 0;

      dt {
        display: inline;
        font-weight: bold;

        &::after {
          content: ':';
        }
      }

      dd {
        display: inline;
        margin-left: 0.5rem;
      }
    }
  }

  .json-view {
    padding: 0.5rem;
  }

  .image-view {
    padding: 0.5rem;
    text-align: center;

    img {
      max-width: 100%;
    }
  }

  .xml-view {
    padding: 0.5rem;

    pre.raw {
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      min-height: 10rem;
      overflow: scroll;
      background-color: #f2f2f2;
      margin: 1em 0 0 0;
    }
  }

  .react-tabs__tab-list {
    position: fixed;
    top: $headerHeight;
    width: 50vw;
    border-color: #000;
    padding-top: 2px;
    background-color: #fff;
    z-index: 100;
  }

  .react-tabs__tab {
    padding: 5px 12px;
  }

  .react-tabs__tab--selected {
    border-radius: 0;
    border-color: #000;
  }

  .react-tabs__tab-panel {
    margin-top: $tableHeaderHeight;
    padding: 0.5rem 0.8em;
  }
}
