@import '../variables';

.MessageList {
  width: 100%;

  table {
    width: 50vw;

    &.head {
      background: #fff;
      position: fixed;
      top: $headerHeight;

      thead tr {
        height: $tableHeaderHeight;

        th {
          vertical-align: bottom;
        }
      }
    }

    &.body {
      margin-top: $tableHeaderHeight + 0.2rem;
    }

    tbody tr {
      cursor: default;
    }

    th, td {
      padding: 0.3rem 0.5rem;
    }

    th {
      text-align: left;
      border-bottom: 1px solid #000;
    }

    .col-time {
      min-width: 3.6rem;
    }

    .col-method {
      min-width: 3.6rem;
    }

    .col-uri {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 400px;
    }

    .col-status {
      text-align: right;
      min-width: 3.2rem;
    }

    tr.active {
      background-color: #7bf;
    }
  }
}

.MessageDetails {
  padding: 0.5rem;

  .request-details, .response-details {
    padding-bottom: 1rem;

    dt {
      &::after {
        content: ':';
      }
    }

    pre {
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      min-height: 10rem;
      overflow: scroll;
      background-color: #f2f2f2;
      margin: 1em 0 0 0;
    }

    .time {
      font-size: 0.8rem;
      text-align: right;
    }
  }
}
