@import 'variables';

.App {
  .container {
    padding-top: $headerHeight;
    display: flex;
    max-height: 100vh;
    box-sizing: border-box;

    .list-panel, .details-panel {
      width: 50vw;
      flex-basis: 50%;
      overflow: scroll;
      // padding: 0.5rem;
    }
  }
}
