@import 'variables';

.App {
  .container {
    padding-top: $headerHeight;
    max-height: 100vh;
    box-sizing: border-box;

    .list-panel, .details-panel {
      // width: 50vw;
      overflow: scroll;
      // padding: 0.5rem;
    }
  }
}
